{% extends 'base.html' %}
{% block title %} Добавить товар {% endblock %}

{% block content %}
{% include 'includes/buttonset.html' %}
<div class="d-flex justify-content-center">
        <form method="POST">
            <br>
            <h1>Отслеживание</h1>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
<!--            <div class="d-grid gap-2 col-4 mx-auto">-->
<!--              <button type="submit" class="btn btn-outline-dark">Сохранить</button>-->
<!--            </div>-->
        </form>
</div>
{% endblock %}