{% extends 'base.html' %}


{% block title %} getWb - парсинг wildberries.ru {% endblock %}

{% block content %}
<br>
<div class="container">
    <h1> Добро пожаловать на сайт getWb, который поможет сделать покупки товаров Wildberries в нужный момент! </h1>
    <br>
    <h2>Для этого нужно сделать 3 простых шага:<br>
        1. <a href="{% url 'signup' %}"> Зарегистрироваться.</a><br>
        2. В личном кабинете указать свой телеграм.(Будет доступен после регистрации) <br>
        3. Добавить ссылку на товар на WB и указать цену при которой готов купить этот товар. </h2>

    <br>
    <h3>И если цена достигнет или будет меньше указанной тобой, то тебе поступит уведомление в телеграм.</h3>
    <br>
    <h3>Сервис getwb, не является коммерческим проектом, услуга отслеживания цены товара на wildberries является бесплатной.</h3>

</div>
{% endblock %}