{% extends 'base.html' %}


{% block title %} Мой сайт {% endblock %}

{% block content %}
<br>
<div class="container">
    <h1> Добро пожаловать на сайт, который поможет тебе сделать покупки товаров в нужный момент! </h1>
    <h2>Для этого нужно сделать 3 простых шага:<br>
        1. <a href="{% url 'signup' %}"> Зарегистрироваться.</a><br>
        2. Добавить товар для отслеживания.<br>
        3. В личном кабинете указать свой телеграмм.</h2>
    <h3>И если цена достигнет или будет меньше указанной тобой, то тебе поступит уведомление.</h3>
</div>
{% endblock %}