{% extends 'base.html' %}
{% block title %} Регистрация {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    {% if not request.user.is_authenticated %}
        <form method="POST">
            <br>
            <h1>Форма регистрации</h1>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <div class="d-grid gap-2 col-4 mx-auto">
              <button type="submit" class="btn btn-outline-dark">Зарегистрироваться</button>
            </div>
        </form>
{% else %}
    <br>
    <h1>Вы уже вошли как <a href="{% url 'personal' %}"> {{request.user}}</a></h1>
</div>
{% endif %}
{% endblock %}